.recipe-list {
  display: grid;
  padding: 0 1rem 1rem 1rem;
  grid-template-columns: repeat(3, minmax(0, 20%));
  list-style: none;
  justify-content: center;
}

.recipe-card {
  display: flex;
  aspect-ratio: 1;
  margin: 0.6rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: rgb(65, 71, 58);
  color: white;
  justify-content: center;
  align-items: center;
}

.add-button {
  font-size: 3rem;
}
.recipe-card:hover {
  margin: 0.2rem;
  transition: ease-out 0.5s;
}

.recipe-info-modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
  color: black;
  overflow-y: scroll;
}

.recipe-info-modal.open {
  opacity: 1;
}

.modal-content {
  position: relative;
  width: 70%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  max-height: 90%;
  overflow: auto;
}

.modal-header,
.modal-footer {
  padding: 1.5rem;
}

.modal-header {
  display: grid;
}

.modal-title {
  margin: 0px;
  font-size: 1.3rem;
  font-weight: 600;
}

.delete-button {
  justify-self: right;
}

.modal-subtitle {
  margin: 0px;
  font-size: 1.1rem;
  font-weight: 550;
}

.modal-body {
  padding: 2rem;
  text-align: left;
}

.button {
  background-color: rgb(215, 230, 199);
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px;
}

.search-bar {
  border: none;
  height: 2rem;
  width: 30%;
  font-size: 1.25rem;
  outline: none;
}

.search-bar:focus {
  background-color: rgb(231, 247, 214);
  border-radius: 3px;
  padding-left: 0.3rem;
}

.filter-bar {
  padding: 10px;
}

.difficulty-selector {
  border: none;
  background-color: rgb(231, 247, 214);
  font-size: 1rem;
}

.no-results {
  font-size: 1.75rem;
}

.display-linebreak {
  white-space: pre-wrap;
}

.text-body {
  width: 100%;
  height: 10rem;
}

.button {
  margin: 0.5rem;
}

.edit-button {
  border: none;
  background-color: rgba(54, 127, 129, 0);
}

.difficulty-tag {
  background-color: rgb(231, 247, 214);
  font-weight: 300;
  border-radius: 5px;
  padding: 0.25rem;
}

/* @media screen and (max-width: 850px) {
  .recipe-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
} */
